.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
  background-color: var(--bg-main);
}

/* Viewport */
.main-viewport {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-main);
}



/* Responsive */
@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
  }
  .main-viewport {
    height: calc(100vh - 65px);
  }
}
