.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Evita que el contenedor global haga scroll */
  background-color: var(--bg-main);
}

/* El área de la derecha hace scroll verticalmente con suavidad */
.main-viewport {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--bg-main);
}
