# ==========================================
# DATAGO BACKEND - VARIABLES DE ENTORNO (.ENV)
# ==========================================

# Cadena de conexión a PostgreSQL (Neon Serverless / Local)
ConnectionStrings__PostgreSql="Host=ep-royal-term-acysbmmx-pooler.sa-east-1.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=TU_PASSWORD_AQUI;SSL Mode=Require"

# Entorno de ejecución
ASPNETCORE_ENVIRONMENT=Production

# Puerto HTTP en Render/Docker
PORT=8080
